NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/kunden_bestell_api?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"
JWT_EXPIRES_IN="1h"
CORS_ORIGIN="http://localhost:5173"

SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD=""

SEED_EMPLOYEE_EMAIL="employee@example.com"
SEED_EMPLOYEE_PASSWORD=""